# Node.js Dependencies
/node_modules
package-lock.json

# Next.js
.next/
out/
next-env.d.ts

# TypeScript
*.tsbuildinfo

# Environment files
.env*

# Editors / Operating Systems
.DS_Store
.vscode/
*.code-workspace
*.cspell

# Debug Logs
npm-debug.log*
